apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: ingress-lb
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
spec:
  rules:
  - host: demoaks.famazon.fi
    http:
      paths:
      - path: /tetris
        backend:
          serviceName: tetris
          servicePort: 80